@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте вашу почту, чтобы сбросить пароль
    </p>
</div>
	
