@using DevExtreme.AspNet.Mvc
@{
    ViewData["Title"] = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Статистика эксперта</h2>

@(Html.DevExtreme().DataGrid<WebDtt.Models.ExpertStatsViewModel>()
    .DataSource(ds => ds.WebApi()
        .RouteName("CheckStudentExamsApi")
        .LoadAction("GetExpertStats")
    )
    .RemoteOperations(true)
    .Columns(columns =>
    {

        columns.AddFor(m => m.TestDateTime);

        columns.AddFor(m => m.Class);

        columns.AddFor(m => m.SubjectCode);

        columns.AddFor(m => m.SubjectName);

        columns.AddFor(m => m.ExamTypeName);

        columns.Add().Caption("Работы").Columns(c =>
        {
            c.AddFor(m => m.AllCount);

            c.AddFor(m => m.OnHands);

            c.AddFor(m => m.Checked);

            c.AddFor(m => m.Ready);
        });


    })
)
