<div id="textBlock">
    @*<p><b style="text-decoration: underline"><i></i></b></p>
    <p><b><i></i></b></p>
    <p><b></b></p>
    <p></p>*@


    <p><b style="text-decoration: underline"><i>При выборе способа оплаты просим вас обратить внимание на следующее:</i></b></p>
    <br>

    <p><b><i>При единовременной </i></b>оплате вам необходимо произвести оплату в срок не позднее 5 (пяти) дней с даты формирования договора.</p>
    <br>

    <p><b><i>При оплате в 2 этапа </i></b>(равными долями) сроки оплаты следующие:</p>
    <p>1 этап: не позднее 5 (пяти) дней с даты формирования договора</p>
    <p>2 этап: в период со 2 января 2022 года по 14 января 2022 года</p>
    <br>

    @*<p><b><i>При оплате в 3 этапа (для 80-часовых курсов):</i></b></p>
    <p>1 этап: 14 000 руб - в срок, не позднее 5 (пяти) дней с даты формирования договора</p>
    <p>2 этап: 13 000 руб – в срок, не позднее 01 декабря 2021 года</p>
    <p>3 этап: 11 000 руб - в период со 2 января 2022 года по 14 января 2022 года</p>
    <br>*@

    <p>
        После прохождения регистрации на курсы подготовки к сдаче ГИА,
        Вам на почту будет направлен договор об оказании образовательных услуг,
        реквизиты для оплаты, а также памятка слушателям курсов. <b><i>Просим Вас внимательно ознакомиться с памяткой!!!</i></b>
    </p>
    

    <p>
        <b style="text-decoration: underline">
            <i>
                Обучающийся считается зачисленным в группу только с момента прикрепления в
                личном кабинете обучающегося документа, подтверждающего произведенную
                оплату!
            </i>
        </b>
    </p>
    <br>

    <p>
        <b>
            <i>
                !!! Договор необходимо распечатать, подписать и оригинал подписанного Вами
                договора принести на первое занятие на курсах подготовки к сдаче ГИА. (для
                дистанционного формата курсов: до начала занятий на курсах подготовки
                необходимо привезти договор по адресу: Вознесенский. 34а, ауд 22, пн-чт 10:00-18:00,
                пт 10:00-17:00, обед 13:00-14:00)
            </i>
        </b>
    </p>
    <br>

    <p>
        По всем вопросам, связанным с регистрацией на курсы подготовки к сдаче ГИА Вы
        можете обратиться по телефону <b>8-909-587-34-38 (с 9:00 до 20:00 ежедневно).</b>
    </p>


</div>
